apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-service
  namespace: production
  labels:
    app: shipping-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shipping-service
  template:
    metadata:
      labels:
        app: shipping-service
    spec:
      containers:
        - name: shipping-service
          image: shammery/shipping-service:v1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8600
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
---
apiVersion: v1
kind: Service
metadata:
  name: shipping-service
  namespace: production
spec:
  type: LoadBalancer
  selector:
    app: shipping-service
  ports:
    - protocol: TCP
      port: 8600
      targetPort: 8600
