apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-service
  labels:
    app: shipping-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping-service
  template:
    metadata:
      labels:
        app: shipping-service
    spec:
      containers:
        - name: shipping-service
          image: shammery/shipping-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8600
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "staging"
---
apiVersion: v1
kind: Service
metadata:
  name: shipping-service
spec:
  type: NodePort
  selector:
    app: shipping-service
  ports:
    - protocol: TCP
      port: 8600
      targetPort: 8600