apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest
        ports:
        - containerPort: 8700
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://config-server:9296"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin:9411"

---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: ecommerce
spec:
  selector:
    app: user-service
  ports:
  - port: 8700       # Puerto interno del cluster para acceso a user-service
    targetPort: 8700 # Puerto del contenedor
  type: ClusterIP
