server:
  port: 8500

spring:
  datasource:
    url: jdbc:h2:mem:productdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
  application:
    name: PRODUCT-SERVICE

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false